<h1 id="group-index">Groups</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group_path(group) %></td>
    </tr>
  <% end %>
</table>

<div class="row">
  <div class="col-sm">
    One of three columns
  </div>
  <div class="col-sm">
    One of three columns
  </div>
  <div class="col-sm">
    One of three columns
  </div>
</div>
