<h1><%= @user.name %>'s Profile</h1>

<table class="table">
  <tr>
    <th>Group</th>
    <th>Name</th>
  </tr>
  <% @user.groups.each do |group| %>
    <% group.lists.each do |list| %>
      <tr>
        <td> <%= link_to(group.name, group_path(group)) %></td>
        <td> <%= link_to(list.user.name, list_path(list)) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h3>My Lists</h3>
<table class="table">
  <% @user.lists.each do |list| %>
    <tr>
      <td>
        <%= link_to(list.group.name, list_path(list)) %>
      </td>
    </tr>
  <% end %>
</table>
