<h1>All Items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>URL</th>
    <th></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.description %></td>
      <td><%= item.url %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
    </tr>
  <% end %>
</table>
